table {
    border-collapse: collapse;
    width: 100%;
}
table tr td, table tr th {
    padding: 0.25rem 0.5rem;
    border: 1px solid black;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20em;
    overflow: hidden;
}
table tr:first-child th {
    border-top-width: 0;
}
td:first-child, th:first-child {
    border-left-width: 0;
}
td:last-child, th:last-child {
    border-right-width: 0;
}

table tr.selected {
    background-color: var(--selected-color);
    color: var(--selected-text-color);
}


table th {
    background-color: var(--gray3);
    font-weight: normal;
    user-select: none;
    vertical-align: baseline;
}

table th.sort-column {
    background-color: var(--gray6);
    color: var(--gray0);
    font-weight: bold;
}

table tr td .MuiIcon-root {
    font-size: 100%;
    padding:0;
    border-width: 0;
    background-color: transparent;
    margin:0;
}