.file-browser {
    display: flex;
    flex-direction: column;
}

.file-browser .file-list {
    display: flex;
    flex-direction: column;
    flex: 1.0;
}

.file-browser .file-list .file-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
}
.file-list-item.selected {
    background-color: #cccccc;
}
.file-browser .file-list .file-list-item > * {
    padding: 0.25rem 0.5rem;
}

.file-browser .file-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    flex: 1.0;
}
.file-browser .file-grid .file-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-width: 8rem;
    min-height: 8rem;
}
.file-browser .file-grid .file-grid-item.selected {
    background-color: #cccccc;
    border-radius: 1rem;
}
.file-browser .file-grid .file-grid-item > * {
    padding: 0.5rem 0.5rem;
}
.file-grid-item .icon {
    border: 0px solid blue;
    font-size: 4rem;
}


.file-details-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.file-details-view .thumbnail {
    border: 1px solid black;
    padding: 3px;
    margin: 1rem;
    max-width: 200px;
    max-height: 200px;
}


.file-details-view .filename {
    /*border: 5px solid red;*/
    padding: 2em;
}
.file-details-view .preview {
    min-width: 8em;
    min-height: 5em;
    background-color: #888888;
}
.file-details-view .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
