.grid3layout {
    width: 600px;
    height: 300px;

    display: grid;

    grid-template-columns: [one] 1fr [gap1] 1px [two]1fr [gap2] 1px [three] 2fr [end];
    grid-template-rows: [toolbar]3em [content]1fr;

    font-family: sans-serif;
    font-size: 13pt;
    background-color: black;
}

.grid3layout > * {
    background-color: white;
}
.source-list {
    list-style: none;
    padding:0;
    margin:0;
    overflow: scroll;
}

.col1 {
    grid-column-start: one;
    grid-column-end: gap1;
}
.col2 {
    grid-column-start: two;
    grid-column-end: gap2;
}
.col3 {
    grid-column-start: three;
    grid-column-end: end;
}

.source-list li {
}
.source-list {
    grid-row: content;
}

.toolbar {
    grid-row: toolbar;
}

.content-area {
    grid-row: content;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ============= padding ========== */

.source-list {
    padding: 0.5rem;
}
.source-list li {
    padding: 0.5rem 0.5rem;
    margin:0;
    border-radius: 0.5rem;
}
.titlebar {
    padding: 0.5rem;
    color: white;
}
.content-area {
    padding: 1rem;
}
.toolbar {
    padding: 0.5rem;
}
.toolbar button {
    padding: 0.5rem;
    border-width: 0;
    background-color: white;
    border-radius: 0.5rem;
}

/* ========== colors =============== */

.grid3layout {
    color: #555;
    background-color: #888888;
    border: 1px solid #888888;
}
.titlebar {
    background-color: teal;
}
.toolbar {
    background-color: white;
}
.toolbar button {
    background-color: white;
    border-width: 0;
    border-radius: 0.5rem;
}
.toolbar button:hover {
    background-color: grey;
    color: white;
}
.source-list, .content-area {
    background-color: white;
}
.source-list.secondary {
    background-color: #eee;
}

.source-list li.selected {
    background-color: #cccccc;
}