@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.grid3layout {
    flex: 1.0;
    display: grid;
    grid-template-columns: [one] 10rem [gap1] 1px [two]20rem [gap2] 1px [three] 1fr [end];
    grid-template-rows: [toolbar]3rem [content]1fr;
    background-color: black;
    overflow: auto;
}

.grid3layout > * {
    background-color: white;
}

.col1 {
    grid-column-start: one;
    grid-column-end: gap1;
}
.col2 {
    grid-column-start: two;
    grid-column-end: gap2;
}
.col3 {
    grid-column-start: three;
    grid-column-end: end;
}

.row2 {
    grid-row: content;
}

.row1 {
    grid-row: toolbar;
}

.span3 {
    grid-column-end: end;
}

.source-list {
    grid-row: content;
}


.content-area {
    grid-row: content;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ============= padding ========== */

.titlebar {
    padding: 0.5rem;
    color: white;
}
.content-area {
    padding: 1rem;
}

/* ========== colors =============== */

.grid3layout {
    color: #555;
    background-color: #888888;
    border: 1px solid #888888;
}
.titlebar {
    background-color: green;
}
.toolbar {
    background-color: white;
}
.toolbar button, .toolbar .MuiIcon-root {
    background-color: white;
    border-width: 0;
    border-radius: 0.5rem;
}
.toolbar button:hover, .toolbar .MuiIcon-root:hover {
    background-color: grey;
    color: white;
}

.MuiIcon-root.small {
    font-size: 75%;
}


