ul.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
}
ul.menu-bar li {
    position: relative;
    z-index: 1;
    overflow: visible;
}
/* down menu */
ul.menu-bar ul {
    z-index: 1;
    left: -99999em;
    top: 100%;
    position: absolute;
    overflow: visible;
}

/* left menu */
ul.menu-bar ul ul {
    top: 0%;
    left: -99999em;
}
ul.menu-bar ul li:hover > ul {
    left: 100%;
}

