@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.standard-edit-panel {
    width: 20em;
}
html {
    font-size: 50pt;
    font-family: serif;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
html {
    --std-text-color: #151717;
    --std-bg-color: #ffffff;
    --std-border-color: #a3a3a3;
    --bg-dark: #e1e1e1;

    --accent-text-color: #150a05;
    --accent-border-color: #f03b16;
    --accent-background-color:orange;

    --std-input-bg-color: #f8f8f8;

    --std-margin: 0em;
    --std-line-margin: 0.25em 0.5em;
    --std-padding: 0em;
    --std-line-padding: 0.25em 0.5em;

    --std-form-margin: 0.25em;

    --radius: 0.5em;


    --std-font-family: "Source Sans Pro", sans-serif;
    --std-font-size: 9pt;
    --std-font-weight: 400;

    /* dark mode */
    /*
    --std-text-color: #888;
    --std-bg-color: #222;
    --std-border-color: #000;
    --bg-dark: #666;

    --accent-text-color: #ccc;
    --accent-border-color: #353535;
    --accent-background-color: #9b3808;

    --std-input-bg-color: #444;
    --std-font-weight: 300;
    --std-font-size: 20pt;
    */

    font-family: var(--std-font-family);
    font-size: var(--std-font-size);
    font-weight: var(--std-font-weight);
    color: var(--std-text-color);
}


/* ========== resets ========== */
ul {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    padding:0;
    margin:0;
}
button {
    font-family: inherit;
}
.toolbar {
    border-width: 0;
}
/* ============= structure =========== */

.grid {
    display: grid;
    grid-template-columns: 1fr 2.0fr 3fr;
    grid-template-rows: 3em 1fr 2em;
    grid-gap: 1px;
    overflow: hidden;
    justify-items: stretch;
    flex: 1.0;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr 2.0fr;
    grid-template-rows: 3em 1fr 2em;
    grid-gap: 1px;
    overflow: hidden;
    justify-items: stretch;
    flex: 1.0;
}

.col1 { grid-column: 1; }
.col2 { grid-column: 2; }
.row1 { grid-row-start: 1; }
.row2 { grid-row-start: 2; }
.span3 { grid-column-end: 4; }

.info {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    align-items: center;
    overflow: auto;
}
ul {
    overflow: auto;
}
.sidebar {
    grid-column: 1;
    grid-row: 2;
}

.content {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}
form {
    grid-column: 3;
    grid-row: 2;
}
.statusbar {
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 3;
    align-items: center;
}

.spacer {
    flex: 1.0;
}
.grow {
    flex: 1.0;
}




form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center; /* horizontal */
    align-items: center; /* vertical */
    overflow: hidden;
}
form > label {
    grid-column: 1;
    justify-self: end;
}
form > input, form > select, form > .form-group {
    grid-column: 2;
    justify-self: start;
}

form > .form-group {
    display: flex;
    flex-direction: row;
}

/* ============== spacing ============ */

li {
    padding: var(--std-line-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
}


.info, .statusbar, .toolbar {
    padding: var(--std-padding);
    margin: var(--std-margin);
}

.toolbar > * {
    margin: var(--std-line-margin);
}

button, input, select, textarea {
    padding: var(--std-line-padding);
    margin:var(--std-margin);
    font-size: var(--std-font-size);
}

.toggle-group {
    padding:0;
}
.toggle-group > * {
    margin:0;
}



form > * {
    margin: var(--std-form-margin);
}
form > .form-group input {
    margin: var(--std-line-margin);
}
form > .form-group input:first-child {
    margin-left: 0;
}
form > .form-group input:last-child {
    margin-right: 0;
}


li .material-icons:first-child {
    margin-right: 0.25em;
}
li .material-icons:last-child {
    margin-left: 0.25em;
}
li.header {
    margin-top: 1.0em;
}




/* ======== borders and radius ========= */
button, input, select {
    border-style: solid;
    border-width: 1px;
}
button, input {
    border-radius: var(--radius);
}

.toggle-group {
    border: 1px solid var(--std-border-color);
    border-radius: var(--radius);
}
.toggle-group > * {
    border-width: 0px 1px 0 0;
    border-radius: 0;
}
.toggle-group > *:first-child {
    border-right-width: 0;
    border-radius: 0.25em 0 0 0.25em;
}
.toggle-group > *:last-child {
    border-right-width: 0;
    border-radius: 0 0.25em 0.25em 0;
}







/* =============== colors ============== */
form, ul, .info, .statusbar, .panel, table {
    background-color: var(--std-bg-color);
}
li {
    color: var(--std-text-color);
}
.selected {
    background-color: var(--accent-background-color);
    color: var(--accent-text-color);
}

li.header {
    text-transform: uppercase;
    color: var(--std-text-color);
}

button, input, select {
    border: 1px solid var(--std-border-color);
    color: var(--std-text-color);
}
input, select, textarea {
    background-color: var(--std-input-bg-color);
}


button.primary {
    background-color: var(--accent-background-color);
    color: var(--accent-text-color);
    border-color: var(--accent-border-color);
}
button.danger {
    background-color: magenta;
    color: white;
    border-color: black;
}


button:hover {
    background-color: var(--bg-dark);
    color: var(--std-bg-color);
}

button:focus, input:focus {
    outline: solid var(--accent-background-color);
}

.toolbar {
    background-color: var(--bg-dark);
}


.controls {
    font-size: 11pt;
    background-color: white;
}
.controls button, .controls input, .controls select {
    border: 1px solid black;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    background-color: white;
}
.controls button {
    color: white;
    text-shadow: 0px 0px 4px black;
    font-family: sans-serif;
}
.controls button:hover {
    background-color: white;
    outline: 4px solid blue;
}


.primary {
}
.secondary {
    font-weight: lighter;
}




/* ========= dev stuff ========= */
.grid, .grid2 {
    background-color: var(--std-border-color);
}
#root {
    border: 0px solid red;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: var(--std-bg-color);*/
    background-color: teal;
}

/* ========= more to organize ========== */
.sidebar, .info, .statusbar {
    background-color: var(--bg-dark);
}
.MuiIcon-root {
    font-size: 1.0em;
    font-family: 'Material Icons';
}



#background-image {
    position: fixed;
    width: 99vw;
    height: 99vh;
}

.window.PanelViewerApp {
    background-color: var(--std-bg-color);
}

.WebpageScanResultsPanel img {
    max-width: 100px;
}

.scroll {
    overflow: scroll;
}