.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.vbox {
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0 0 1px 0;
    min-height: 2rem;
}
.toolbar.bottom {
    border-width: 1px 0 0 0;
}

.spacer {
    flex: 1.0;
}




/* ========= lists ========== */
.list-wrapper {
    min-width: 4em;
}
.list {
    /*border: 1px solid black;*/
    /*border-width: 0px 0px 0 0;*/
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    min-width: 4em;
}


.list li {
    /*padding: 0.25em 0.5em;*/
    padding:0;
    margin: 0;
    align-items: center;
}




.list li.selected {
    background-color: var(--selected-color);
    color: var(--selected-text-color);
}

.list-item {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-width: 0 0 0.5px 0;
    padding: 0.25em 0.5em;
    align-items: center;
    margin: 0rem;
}

.list-item .vbox {
    padding-left: 0.25rem;
}
.list-item .subtitle {
    font-style: italic;
}




button {
    border: 1px solid #333;
    border-radius: 1.0rem;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    background-color: #ccc;
    color: black;
}
button:hover {
    background-color: #888888;
    color: white;
}
button.primary {
    background-color: #5fe0f5;
    color: black;
}
button.primary:hover {
    background-color: #1d92a5;
    color: white;
}
button.danger {
    background-color: red;
    color: black;
}
button.danger:hover {
    background-color: #ab0505;
    color: white;
}


.toolbar button {
    border: 1px solid var(--standard-toolbar-button-text-color);
    /*border-radius: 0.25rem;*/
    /*margin: 0.25rem;*/
    background-color: var(--standard-toolbar-button-background-color);
    color: var(--standard-toolbar-button-text-color);
    /*font-size: 1rem;*/
    /*padding: 0.25rem 0.5rem;*/
}

.toolbar input {
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    /*padding: 0.25rem 0.5rem;*/
    margin: 0.25rem 0.5rem;
    /*background-color: red;*/
}




.sidebar {
    border-style: solid;
    border-width: 0 1px 0 0;
    min-width: 8rem;
}




.content-panel {
    /*padding: 0.5rem;*/
}





/* ================ TAG SET EDITOR ================= */




.tagset-editor {
    border:0 solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.25em;
}

.tagset-editor > label{
    padding: 0.25em;
}

.tagset-editor input {
    border: 1px solid black;
    flex: 1.0;
    border-radius: 1.0rem;
}

.tag-view {
    border: 0 solid black;
    background-color: green;
    color: white;
    padding:0.25rem;
    margin:0.25rem;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag-view label {
    border: 0 solid black;
    white-space: nowrap;
    padding: 0.25em;
}

.tag-view .MuiIcon-root {
    font-size: 150%;
    color: var(--gray0);
}
.tag-view .MuiIcon-root:hover {
    color: var(--gray6);
}


/* ================== editors ============ */
.textprop-editor > label {
    padding: 0.25em;
}
.textprop-editor > input {
    width: 100%;
}
