.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.vbox {
    display: flex;
    flex-direction: column;
}

.toolbar {
    border: 0 solid var(--standard-border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0 0 1px 0;
}

.spacer {
    flex: 1.0;
}





.hbox.list-item {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-width: 0 0 0.5px 0;
    padding: 0.25em 0.5em;
    align-items: center;
    margin: 0rem;
}

.hbox.list-item .vbox {
    padding-left: 0.25rem;
}
.hbox.list-item .subtitle {
    font-style: italic;
}




button {
    border: 1px solid #333;
    border-radius: 1.0rem;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    background-color: #ccc;
    color: black;
}
button:hover {
    background-color: #888888;
    color: white;
}
button.primary {
    background-color: #5fe0f5;
    color: black;
}
button.primary:hover {
    background-color: #1d92a5;
    color: white;
}
button.danger {
    background-color: red;
    color: black;
}
button.danger:hover {
    background-color: #ab0505;
    color: white;
}
