.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.vbox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.spacer {
    flex: 1.0;
}
.center {
    align-items: center;
}

/* ================ TAG SET EDITOR ================= */




.tagset-editor {
    border:0 solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.25em;
}

.tagset-editor > label{
    padding: 0.25em;
}

/*.tagset-editor input {*/
/*    border: 1px solid black;*/
/*    flex: 1.0;*/
/*    border-radius: 1.0em;*/
/*}*/

.tag-view {
    border: 0 solid black;
    background-color: green;
    color: white;
    padding:0.25em;
    margin:0.25em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag-view label {
    border: 0 solid black;
    white-space: nowrap;
    padding: 0.25em;
}

.tag-view .MuiIcon-root {
    font-size: 150%;
    color: var(--gray0);
}
.tag-view .MuiIcon-root:hover {
    color: var(--gray6);
}


/* ================== editors ============ */
.textprop-editor > label {
    padding: 0.25em;
}
.textprop-editor > input {
    width: 100%;
}


/* =========== top toolbar */
.top-toolbar {
    /*grid-row: toolbar;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
}
.top-toolbar {
    /*padding: 0.5em;*/
}
.top-toolbar button, .top-toolbar .MuiIcon-root {
    /*padding: 0.5em;*/
    /*border-width: 0;*/
    /*background-color: white;*/
    /*border-radius: 0.5rem;*/
    /*font-size: 150%;*/
}

