.window {
    border: 1px solid var(--std-border-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    overflow: auto;
    position: absolute;
}

.window > title {
    display: block;
    background-color: var(--accent-background-color);
    color: var(--accent-text-color);
    user-select: none;
    cursor: move;
    border-radius: var(--radius) var(--radius) 0 0;
    padding: 0.25em 0.5em;
}


.window.dragging > title {
    background-color: greenyellow;
    color: black;
}

.window title b {
    padding: 0.25em;
    text-transform: capitalize;
}
.window title .appicon {
    margin-right: 0.25rem;
}
.window title .close {
    margin: 0;
}
.window title .close:hover {
    color:#fff;
    cursor: auto;
}

.window .resize-handle {
    position: absolute;
    right:0;
    bottom:0;
    border: 0px solid black;
    background-color: transparent;
    padding: 0.5em;
    user-select: none;
    font-size: 100%;
    cursor: nwse-resize;
    width: 0.5rem;
    height: 0.5rem;
    border-top-left-radius: 1rem;
}

.window .resize-handle:hover {
    background-color: var(--accent-background-color);
}
.window.resizing .resize-handle {
    background-color: var(--accent-background-color);
}


.window.resizing {
    border-color: var(--accent-background-color);
}

.window > title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.window > title > b {
    flex: 1.0;
}