.AppBar .list  li {
    border: 0px solid var(--gray8);
    min-height: 3rem;
    max-width: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0.25rem;
    padding: 0.25em 0.5em;
    padding: 0.5rem;
    color: var(--gray8);
    background-color: var(--selected-color);
}
.AppBar .list li:hover {
    background-color: #ccc;
}
.AppBar .list li .material-icons {
    font-size: 2rem;
}

.AppBar li[datatype="ContactList"]{
    color: var(--gray0);
    background-color: var(--red9);
}
.AppBar li[datatype="TaskLists"]{
    color: var(--gray0);
    background-color: var(--pink7);
}
.AppBar li[datatype="Chat"]{
    color: var(--gray0);
    background-color: var(--cyan8);
}
.AppBar li[datatype="Calendar"]{
    color: var(--gray0);
    background-color: var(--grape6);
}
.AppBar li[datatype="Notes"]{
    color: var(--gray0);
    background-color: var(--teal4);
}
.AppBar li[datatype="Alarms"]{
    color: var(--gray0);
    background-color: var(--green4);
}
.AppBar li[datatype="Email"]{
    color: var(--gray0);
    background-color: var(--gray8);
}
