.day-view {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 4rem auto;
    grid-auto-rows: 1rem;
    overflow: auto;
}

.day-view .hour {
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    grid-column: 1 / span 2;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
}

.day-view .event {
    border: 1px solid black;
    background-color: lightblue;
    grid-column: 2 / span 1;
    padding: 0.25rem;
}

.week-wrapper {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    overflow: scroll;
    position: relative;
}

.week-header {
    border: 5px solid blue;
    display: grid;
    grid-template-columns:  repeat(8,1fr);
    grid-auto-rows: 1rem;
}

.day-header {
    border: 0px solid black;
    text-align: center;
    background-color: #eee;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.week-view {
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1rem;
    overflow: scroll;
    /*max-height: 300px;*/
    flex: 1;
    position: relative;
}

.week-view .hour {
    border: 1px solid green;
    border-width: 1px 0 0 0;
    grid-column: 1 / span 8;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
}

.week-view .week-event {
    border: 1px solid blue;
    background-color: lightblue;
    padding: 0.25rem;
}


.exclusive-toggle-bar {
    border: 1px solid var(--gray8);
    margin:0.25rem;
}

.exclusive-toggle-bar button {
    border:1px solid var(--gray8);
    border-width: 0 1px 0px 0;
    padding:0.25rem 0.5rem;
    margin:0;
    border-radius: 0;
    background-color: var(--gray3);
}
.exclusive-toggle-bar button.selected {
    background-color: var(--gray6);
    color: var(--gray0)
}
.exclusive-toggle-bar button:first-child {
    border-left-width: 0;
}
.exclusive-toggle-bar button:last-child {
    border-right-width: 0;
}