.command-popup li {
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: white;
    color: black;
    padding: 0.25rem;
    margin: 1px;
    list-style: none;
}
.command-popup li:hover {
    background-color: aliceblue;
}