.commandbar {
    border: 1px solid red;
    font-size: 200%;

}
.commandbar input {
    font-size: inherit;
    block-size: content-box;
}

.commandbar .results {
    max-height: 50vh;
}
.commandbar .results li {
    border: 1px solid blue;
}

.window.PanelViewerApp {
    border: 2px dotted gray;
    padding: 2px;
}
