
.dialog {
    border: 1px solid black;
    width: 500px;
    height: 900px;
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    z-index: 300;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.window {
    overflow: visible;
}

.dialog .debug {
    flex: 1;
    font-family: monospace;
    font-size: 7pt;
}