div.post {
    border: 0px solid red;
    overflow: auto;
}
li.unread  {
    font-weight: bold;
}
div.summary img, div.summary video {
    max-width: 100%;
}

div.podcast {
    border: 0px solid red;
}
div.podcast img {
    max-width: 100%;
    max-height: 256px;
}