.PeopleBar {
    border-width: 0;
    flex: 1.0;
    background-color: transparent;
}

.PeopleBar li {
    display: flex;
    flex-direction: column;
    border-width: 0;
    margin: 0.25em;
}

.PeopleBar li img {
    border-radius: 1rem;
    padding: 0.25rem;
}

