.BookmarksManager .bookmark {
    border: 1px solid var(--gray3);
    padding: 0.25rem;
    flex-wrap: wrap;
}

.BookmarksManager .dialog.add {
    width: 40em;
    height: 30em;

    border: 1px solid var(--gray8);
    top: 10px;
    left: 10px;
    box-shadow: 2px 4px 10px 6px rgba(0,0,0,0.76);

    display: flex;
    flex-direction: column;
}

.BookmarksManager .bookmark i {
    padding-left: 1rem;
}

.BookmarksManager .dialog.add textarea {
    border: 1px solid var(--gray3);
    min-height: 6rem;
}

.BookmarksManager .dialog.add input {
    flex:1.0;
}



.popup-menu {
    border: 0px solid red;
    padding:0;
    margin:0;
    /*background-color: var(--gray3);*/
}
.popup-menu .menu-item {
    padding:0.25em 0.5em;
    font-weight: bold;
    margin:0.25em;
    list-style: none;
    /*background-color: var(--gray3);*/
}
.popup-menu .menu-item.menu-item-divider {
    border: 2px solid black;
    border-width: 0 0 2px 0;
    height: 2px;
    padding:0;
    box-sizing: border-box;
}
.popup-menu .menu-item:hover {
    color: var(--selected-text-color);
    background-color: var(--selected-color);
}

.popup-trigger-button {
    /*align-self: start;*/
}