body {
  font-size: 8pt;
  line-height: 130%;
  background-color: whitesmoke;

  --selected-color: #4393ec;
  --selected-icon-color: blue;
  --selected-text-color: white;
  --add-color: #0d990d;
  --remove-color: red;
}
ul.list {
  border: 1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list li {
  border: 1px solid gray;
  border-width: 0 0px 1px 0;
  padding: 0.25em 0.5em;
}


div.hbox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.vbox {
  display: flex;
  flex-direction: column;
}


ul.list li.selected {
  background-color: var(--selected-color);
  color: var(--selected-text-color);
}

ul.list {
  min-width: 4em;
}


.panel {
  border: 1px solid gray;
}
.grow {
  flex: 1;
  overflow: auto;
}

.window {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1.0;
  align-items: stretch;
  justify-content: stretch;
  background-color: white;
  overflow: auto;
}

.window > title {
  display: block;
  background-color: #888;
  color: white;
  padding: 0.125em;
}


.contacts .display-emails, .contacts .display-phones, .contacts .display-addresses {
  padding:0.25em;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contacts .display-emails i, .contacts .display-phones i, .contacts .display-addresses i {
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #888888;
  padding: 0.25em;
}

.contacts .display-emails b, .contacts .display-phones b, .contacts .display-addresses p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0.25em;
}

.contacts .edit-emails {
  overflow: scroll;
}
.contacts .edit-emails select {
  /*border: 0px solid red;*/
  display: inline-block;
  /*color: cornflowerblue;*/
  /*background-color: white;*/
  /*box-shadow: none;*/
  /*appearance: none;*/
}



.chat .thread .self {
  background-color: azure;
  text-align: right;
}
.chat .thread p {
  border-radius: 1.0em;
  padding: 0.25em 1.0em;
  background-color: lightblue;
}
.chat .thread .self p {
  background-color: greenyellow;
}


.toolbar {
  border: 0px solid red;
  display: flex;
  flex-direction: row;
}
.spacer {
  flex: 1.0;
}



button.no-border {
  border-width: 0;
  background-color: transparent;
  border-radius: 1.0em;
}
button.no-border:hover {
  background-color: #ccc;
}

.add-icon {
  color: var(--add-color);
}
.remove-icon {
  color: var(--remove-color);
}

.checkbox-icon {
  color: var(--selected-icon-color);
}

.icon {
  font-size: 150%;
}