/*
  https://yeun.github.io/open-color/ingredients.html
 */
html {
  --yellow0: rgb(255,249,219);
  --yellow2: rgb(255,236,153);
  --yellow4: rgb(255,212,59);
  --yellow7: #f59f00;
  --yellow8: #f08c00;
  --yellow9: #e67700;
  --orange9: #d9480f;
  --gray0: #f8f9fa;
  --gray3: #dee2e6;
  --gray6: #868e96;
  --gray8: #343a40;

  --red9: #c92a2a;
  --red4: #ff8787;
  --red6: #fa5252;

  --pink5: #f06595;
  --pink7: #d6336c;
  --pink3: #faa2c1;

  --cyan1: #c5f6fa;
  --cyan2: #99e9f2;
  --cyan4: #3bc9db;
  --cyan8: #0c8599;

  --grape6: #be4bdb;

  --green0: #ebfbee;
  --green2: #b2f2bb;
  --green4: #69db7c;
  --green8: #2f9e44;

  --teal2: #96f2d7;
  --teal4: #38d9a9;
}
/*
body {
  font-size: 8pt;
  line-height: 130%;
  background-color: #e3e3e3;

  --selected-color: var(--yellow4);
  --selected-color-light: var(--yellow0);
  --selected-color-dark: var(--yellow9);

  --selected-icon-color: var(--yellow4);
  --selected-text-color: var(--gray8);

  --selected-hover-bg-color: var(--yellow4);

  --add-color: #0d990d;
  --remove-color: red;
  --standard-border-color: #333;
  --standard-panel-color: var(--yellow0);
  --standard-sidepanel-color: var(--yellow2);
  --black: #333;
  --white: #eee;

  --window-border: var(--standard-border-color);
  --standard-toolbar-background-color: var(--yellow7);
  --window-titlebar-background-color: var(--orange9);
  --window-titlebar-text-color: var(--gray0);

  --standard-toolbar-button-background-color: var(--yellow7);
  --standard-toolbar-button-text-color: var(--gray8);
  --standard-toolbar-button-text-color: var(--gray8);
  --standard-toolbar-button-border-width: 1px;
}
*/



.panel {
  /*border: 1px solid gray;*/
  padding: 0.5rem;
}
.grow {
  flex: 1;
  overflow: auto;
}

.vbox.center {
  align-items: center;
}
.hbox.center {
  align-items: center;
}



.contacts .display-emails, .contacts .display-phones, .contacts .display-addresses {
  padding:0.25em;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contacts .display-emails i, .contacts .display-phones i, .contacts .display-addresses i {
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #888888;
  padding: 0.25em;
}

.contacts .display-emails b, .contacts .display-phones b, .contacts .display-addresses p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0.25em;
}

.contacts .edit-emails {
  overflow: scroll;
}
.contacts .edit-emails select {
  /*border: 0px solid red;*/
  display: inline-block;
  /*color: cornflowerblue;*/
  /*background-color: white;*/
  /*box-shadow: none;*/
  /*appearance: none;*/
}





button.no-border {
  border-width: 0;
  background-color: transparent;
  border-radius: 1.0em;
}
button.no-border:hover {
  background-color: #ccc;
}

.add-icon {
  color: var(--add-color);
}
.remove-icon {
  color: var(--remove-color);
}

.checkbox-icon {
  color: var(--selected-icon-color);
}

.icon {
  font-size: 150%;
  padding: 0.15em 0.25em;
  min-width: 1em;
  text-align: center;
}
.icon.blank {
  color: transparent;
}


