body {
  font-size: 8pt;
  line-height: 130%;
  background-color: whitesmoke;

  --selected-color: #4393ec;
  --selected-icon-color: blue;
  --selected-text-color: white;
  --add-color: #0d990d;
  --remove-color: red;
}

.list-wrapper {
  min-width: 4em;
}
ul.list {
  border: 1px solid black;
  border-width: 0px 1px 0 0;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 4em;
}

ul.list li {
  /*padding: 0.25em 0.5em;*/
  padding:0;
  margin: 0;
  align-items: center;
}




ul.list li.selected {
  background-color: var(--selected-color);
  color: var(--selected-text-color);
}



.panel {
  border: 1px solid gray;
}
.grow {
  flex: 1;
  overflow: auto;
}

.vbox.center {
  align-items: center;
}
.hbox.center {
  align-items: center;
}



.contacts .display-emails, .contacts .display-phones, .contacts .display-addresses {
  padding:0.25em;
  margin:0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contacts .display-emails i, .contacts .display-phones i, .contacts .display-addresses i {
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #888888;
  padding: 0.25em;
}

.contacts .display-emails b, .contacts .display-phones b, .contacts .display-addresses p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 0.25em;
}

.contacts .edit-emails {
  overflow: scroll;
}
.contacts .edit-emails select {
  /*border: 0px solid red;*/
  display: inline-block;
  /*color: cornflowerblue;*/
  /*background-color: white;*/
  /*box-shadow: none;*/
  /*appearance: none;*/
}





button.no-border {
  border-width: 0;
  background-color: transparent;
  border-radius: 1.0em;
}
button.no-border:hover {
  background-color: #ccc;
}

.add-icon {
  color: var(--add-color);
}
.remove-icon {
  color: var(--remove-color);
}

.checkbox-icon {
  color: var(--selected-icon-color);
}

.icon {
  font-size: 150%;
  padding: 0.15em 0.25em;
  min-width: 1em;
  text-align: center;
}
.icon.blank {
  color: transparent;
}


.tagset-editor {
  border:0 solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
}

.tagset-editor input {
  border: 1px solid black;
  flex: 1.0;
}

.tagset-editor .tag-view {
  border: 0 solid black;
  background-color: green;
  color: white;
  padding:0.25em 0.5em;
  margin:0.25em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tagset-editor .tag-view label {
  border: 0 solid black;
  white-space: nowrap;
}

.tagset-editor .tag-view svg {
  border: 0 solid green;
  color: white;
  padding-left: 0.25em;
}
.tagset-editor .tag-view svg:hover {
  color: black;
}



