.AppBar .list  li {
    border: 5px solid black;
    min-height: 3rem;
    max-width: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0.25rem;
    padding: 0.25em 0.5em;
}
.AppBar .list li:hover {
    background-color: #ccc;
}
.AppBar .list li .material-icons {
    font-size: 2rem;
}

