@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-size: 9pt;
    font-family: serif;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 9pt;
    font-weight: 400;

    color: magenta;
    --button-radius: 0.25em;
    --checkbox-radius: 0.125em;
    --window-radius: 0.5em;
    --std-inline-padding: 0.25em 0.5em;

    --bg-hue: 200;
    --bg-sat: 5%;

    --lit-1: 10%;
    --lit-2: 20%;
    --lit-3: 30%;
    --lit-4: 40%;
    --lit-5: 50%;
    --lit-6: 60%;
    --lit-7: 70%;
    --lit-8: 80%;
    --lit-9: 90%;

    --bg-1: hsl(var(--bg-hue), var(--bg-sat), var(--lit-1));
    --bg-2: hsl(var(--bg-hue), var(--bg-sat), var(--lit-2));
    --bg-3: hsl(var(--bg-hue), var(--bg-sat), var(--lit-3));
    --bg-4: hsl(var(--bg-hue), var(--bg-sat), var(--lit-4));
    --bg-5: hsl(var(--bg-hue), var(--bg-sat), var(--lit-5));
    --bg-6: hsl(var(--bg-hue), var(--bg-sat), var(--lit-6));
    --bg-7: hsl(var(--bg-hue), var(--bg-sat), var(--lit-7));
    --bg-8: hsl(var(--bg-hue), var(--bg-sat), var(--lit-8));
    --bg-9: hsl(var(--bg-hue), var(--bg-sat), var(--lit-9));



    --ac-sat: 100%;
    --ac-1: hsl(var(--bg-hue),var(--ac-sat), var(--lit-1));
    --ac-2: hsl(var(--bg-hue),var(--ac-sat), var(--lit-2));
    --ac-3: hsl(var(--bg-hue),var(--ac-sat), var(--lit-3));
    --ac-4: hsl(var(--bg-hue),var(--ac-sat), var(--lit-4));
    --ac-5: hsl(var(--bg-hue),var(--ac-sat), var(--lit-5));
    --ac-6: hsl(var(--bg-hue),var(--ac-sat), var(--lit-6));
    --ac-7: hsl(var(--bg-hue),var(--ac-sat), var(--lit-7));
    --ac-8: hsl(var(--bg-hue),var(--ac-sat), var(--lit-8));
    --ac-9: hsl(var(--bg-hue),var(--ac-sat), var(--lit-9));

    --transition-speed: 0.1s;

    --std-border: var(--bg-9);
    --std-ac-bg: var(--ac-3);

    background-color: var(--bg-2);
    background-color: magenta;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYlWP48OHDf6Np07DiDx8+/GeAMbBJGk2bBlGArgiZzYCuC9004hXgtQKvIwl5EwC0r65h51cPugAAAABJRU5ErkJggg==);
}



/* ============ layout ========= */
.hbox {
    display: flex;
    flex-direction: row;
}
.vbox {
    display: flex;
    flex-direction: column;
}
.vbox > * {
    flex-shrink: 0;
}
.infobar {
    display: flex;
    flex-direction: row;
    padding: 0.25em;
    align-items: center;
    border-style: solid;
    border-width: 0 0 0px 0;
}
.window {
    margin: 0;
}
.spacer {
    flex: 1.0;
}
.grow {
    flex: 1.0;
}
.scroll {
    overflow: auto;
}

ul {
    margin:0;
    padding:0;
    /*min-width: 10em;*/
    border-style: solid;
    border-width: 0 1px 0 0;
}
li {
    margin:0;
    padding:0.5em;
    border: 0px solid red;
}

button, input, select {
    box-sizing: border-box;
    font-size: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--button-radius);
    padding: var(--std-inline-padding);
}
input, select {
    appearance: none;
}
input[type=checkbox], input[type=radio] {
    appearance: none;
    padding:0;
    border-radius: var(--checkbox-radius);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
input[type=radio] {
    border-radius: 1em;
    width: 1em;
    height: 1em;
}
input[type=checkbox] {
    font-size: 200%;
}
input[type=checkbox]::after {
    content: ' ';
    font-size: 0.33em;
    padding: 0em;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    margin:0;
    display: block;
}
input[type=checkbox]:checked::after {
    content: '\2713';
}
label {
    padding: var(--std-inline-padding);
    justify-self: start;
}



/* ======== grid ============= */
.form-grid {
    display: grid;
    grid-template-columns: [labels] 1fr [inputs] 3fr;
    border-radius: var(--window-radius);
    align-content: start;
}
.form-grid > * {
    justify-self: start;
}
.form-grid > label {
    text-align: right;
    align-self: center;
    justify-self: end;
}
.form-grid > .group,
.form-grid > .toggle-group,
.form-grid > .col2 {
    grid-column: inputs;
    justify-self: start;
}
.form-grid > label {
    grid-column: labels;
}
.form-grid > label.col2 {
    text-align: left;
}


/* =========== groups ========== */
.toggle-group, .group {
    border-width: 0;
    display: flex;
    flex-direction: row;
    padding:0;
    margin: 0.5em 0em;
    align-items: center;
}
.toggle-group {
    border-radius: var(--button-radius);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
.toggle-group button {
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-radius: 0;
    margin:0;
    min-width: 8em;
    flex-grow: 1.0;
}
.toggle-group button:first-child {
    border-left-width: 1px;
    border-top-left-radius: var(--button-radius);
    border-bottom-left-radius: var(--button-radius);
}
.toggle-group button:last-child {
    border-top-right-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
}

/* =========== tables ======== */
table {
    width: 100%;
    position: relative;
    overflow: scroll;
    border-collapse: separate;
}

table td {
    padding: var(--std-inline-padding);
}



/* ============ menus =========== */
.menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    list-style: none;
}
.menu-bar li {
    position: relative;
    z-index: 1;
    overflow: visible;
    padding: 0;
}
/* down menu */
.menu-bar ul {
    z-index: 1;
    left: -99999em;
    top: 100%;
    position: absolute;
    overflow: visible;
}
.menu-bar li:hover > ul {
    left: 0;
}
/* left menu */
.menu-bar ul ul {
    top: 0%;
    left: -99999em;
}
.menu-bar ul li:hover > ul {
    left: 100%;
}
/* popdown menu containers */
.menu-container li.divider {
    padding:0;
    height: 1px;
}

/* actual items */
.menu-bar .item, .menu-container .item {
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
}
.menu-bar .menu-button, .menu-bar .menu-icon {
    padding: var(--std-inline-padding);
    margin:0;
}


/* ======== toolbars ======== */
.info, .statusbar, .toolbar, .infobar {
    padding: var(--std-inline-padding);
    margin: 0;
}
.toolbar {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    align-items: center;
    overflow: hidden;
}

/* ========= lists ======== */
.data-list {
    min-width: 10em;
    list-style: none;
}

















/* ========= colors ========== */

.window {
    color: var(--bg-9);
    background-color: var(--bg-2);
    border: 1px solid var(--std-border);
    border-radius: var(--window-radius);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}
.grid {
    grid-gap: 0;
}
.titlebar, title {
    background-color: var(--bg-3);
    border-color: var(--std-border);
}
title > * {
    padding: var(--std-inline-padding);
}
ul {
    border-color: var(--std-border);
}
table {
    /*border-collapse: separate;*/
    background-color: var(--bg-2);
}
table th {
    background-color: var(--bg-5);
    color: var(--bg-1);
}
label {
}
tr:nth-child(2n) {
    background-color: var(--bg-3);
}
tr.selected, li.selected {
    background-color: var(--std-ac-bg);
}
button, input, select {
    color: inherit;
    background-color: var(--bg-1);
    border-color: var(--std-border);
}
button.primary {
    color: var(--bg-9);
    background-color: var(--std-ac-bg);
}
button.selected {
    background-color: var(--bg-3);
}
input[type=checkbox]:checked, input[type=radio]:checked {
    color: var(--bg-1);
    background-color: var(--ac-5);
    border-color: var(--ac-9);
}
.menu-bar {
    border: 1px solid var(--std-border);
    border-width: 0 0 1px 0;
    background-color: var(--bg-3);
}
.menu-container {
    border: 1px solid var(--std-border);
    background-color: var(--bg-3);
}
li.divider {
    background-color: var(--std-border);
    border-width: 0;
}
.menu-bar button, .menu-container button {
    border-width: 0;
    white-space: nowrap;
    background-color: transparent;
}
.menu-bar button:hover, .menu-container button:hover {
    color: inherit;
    background-color: transparent;
}
.menu-bar .item:hover, .menu-container .item:hover {
    background-color: var(--bg-2);
}

.menu-bar > li {
    background-color: var(--std-bg-color);
}
.menu-container li.divider {
    background-color: var(--std-border);
}
.toolbar, .infobar {
    background-color: var(--bg-3);
}

.standard-edit-panel {
    background-color: var(--bg-2);
}


/* =========== disabled  ========= */
button:disabled {
    background-color: var(--bg-3);
    color: var(--bg-5);
}
input:disabled {
    background-color: var(--bg-4);
    color: var(--bg-5);
}
input:disabled+label {
    color: var(--bg-5);
}


/* ========== hovers ========= */
button:hover, .button:hover {
    background-color: var(--bg-2);
}
button.selected:hover {
    background-color: var(--bg-2);
}
button.primary:hover {
    background-color: var(--ac-4);
}


/* ======== animations ======= */
button {
    transition: background-color var(--transition-speed);
    /*text-shadow: 0 -1px 0 #000;*/
}
input {
    transition: background-color var(--transition-speed);
    transition: color var(--transition-speed);
}



