ul.menu {
    border: 0px solid red;
    max-width: 20em;
    margin:1em;
    padding:0.5em;
    border-radius: 1em;
    background-color: hsl(0,0%,90%);
}
ul.menu li {
    border: 0px solid blue;
    margin: 0.25em;
    padding: 0.25em 1.0em;
    border-radius: 0.5em;
    color: black;
}
ul.menu li.header {
    margin: 0 0.5em;
    color: gray;
}
ul.menu li.divider {
    border: 0px solid red;
    height: 1px;
    padding:0;
    background-color: hsl(0,0%,70%);
    margin: 0.5em 0.5em;
}
ul.menu li.action:hover {
    background-color: #99dbf3;
}