.peoplebar .list {
    border-width: 0;
}

.peoplebar .list li {
    display: flex;
    flex-direction: column;
}

.peoplebar .list li img {
    border-radius: 1rem;
    padding: 0.25rem;
}

.peoplebar .list li {
    border-width: 0;
    margin: 0.25em;
}