html {
    font-family: sans-serif;
}
/* buttons */
button {
    border: 1px solid #333;
    background-color: #ccc;
    color: black;
}
button:hover {
    background-color: #888888;
    color: white;
}
button.primary {
    background-color: var(--selected-color);
    color: black;
}
button.primary:hover {
    background-color: var(--selected-color-dark);
    color: white;
}
button.danger {
    background-color: var(--red6);
    color: black;
}
button.danger:hover {
    background-color: var(--red9);
    color: white;
}

/* toolbars  */

.toolbar {
    background-color: var(--selected-color);
    border-color: var(--gray8);
    color: var(--selected-color-dark);
    margin: 0;
    padding: 0;
    border-style: solid;
}


.toolbar button {
    border: 1px solid var(--selected-color);
    background-color: var(--selected-color);
    color: var(--gray8);
}
.toolbar button:hover {
    background-color: var(--selected-color-dark);
}
.toolbar .MuiIcon-root {
    color: var(--gray8);
}
.toolbar .MuiIcon-root:hover {
    color: var(--selected-color-dark);
}

.toolbar label {
    color: var(--gray8);
}

.list-item {
    border-color: var(--selected-color-dark);
}

.sidebar {
    background-color: var(--standard-sidepanel-color);
}



/* =========== windows ========== */

.window {
    background-color: var(--standard-panel-color);
    border-color: var(--gray8);
}
.window > title {
    background: linear-gradient(to bottom, var(--yellow2) 0%, var(--yellow4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: var(--gray8);
}

.content-panel {
    background-color: var(--standard-panel-color);
}


#background-image {
    border: 1px solid red;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("http://apps.josh.earth/images/great-barrier-reef-echinoderms-illustration-public-domain.jpg");
    background-image: url("http://apps.josh.earth/images/retro_beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
}
