.window {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 1.0;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    overflow: auto;
    position: absolute;
}

.window > title {
    display: block;
    background-color: #888;
    color: white;
    padding: 0.125em;
    user-select: none;
}


.window.dragging > title {
    background-color: red;
}

.window .resize-handle {
    position: absolute;
    right:0;
    bottom:0;
    border: 1px solid black;
    background-color: red;
    padding: 0.5em;
    user-select: none;
}


.window.resizing {
    border-color: red;
}